body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: hsl(240, 78%, 98%);
  background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
  background-position: right top, left bottom;
background-repeat: no-repeat, no-repeat;
}

h3{
  margin-top: 40px;
  margin-bottom: 30px;
}

.card-1{
  position: relative;
  left: 130px;
}

.card-3{
  position: relative;
  right: 130px;
}

.card-2 {
  background: Linear-Gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
  height: 340px;
}

.card-2 p{
  color: #fff;
}

.card{
  border-radius: 5px;
  margin-top: 50px;
  padding: 30px;
width: 250px;
margin-left: auto;
margin-right: auto;
}

.card-1 button {
  background: Linear-Gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #fff;
}

.card-1 button:hover{
background: none;
  color: hsl(237, 63%, 64%);
  border: 1px solid hsl(237, 63%, 64%);
}

.card-2 button:hover{
  background-color: hsl(237, 63%, 64%);
  color: #fff;
border: 1px solid #fff;
}

.card-3 button{
background: Linear-Gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
color: #fff;
}

.card-3 button:hover{
  background: none;
  color: hsl(237, 63%, 64%);
  border: 1px solid hsl(237, 63%, 64%);
}

.card-2 button{
  background-color: #fff;
  color: hsl(237, 63%, 64%);
}

p{
  color:hsl(233, 13%, 49%);
  font-weight:lighter;
}
span{
  color:hsl(233, 13%, 49%);
}

button{
border-radius: 5px;
border: none;
outline: none;
padding:5px;
}

.headings:after{
  content: "hihi";
}


/* toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(234, 14%, 74%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background:Linear-Gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));;
}


input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 1200px){
.card-1, .card-3{
  position: static;
}

}
